.App {
  font-family: sans-serif;
  text-align: center;
  background: linear-gradient(to bottom, #001f3f, #3498db);
  display: flex;
}
.Prod {
  width: 300px;
  border: 1px solid black; 
  margin-left: 130px;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
}
.normal {
  color: black;
  font-weight: bold;
  

}
.blur {
  color: gray;
}
